<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="Tests/bootstrap.php"
>
  <testsuites>
    <testsuite name="unit">
      <directory>Tests/Unit/</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>Tests/Integration/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/Service</directory>
      <file>src/PostNL.php</file>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="Tests/clover.xml"/>
  </logging>
</phpunit>
